
{% if form.errors %}
<p>Your username didn't match</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access</p>
    {% else %}
    <p>Please login to see</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</div>
<div>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</div>

<div>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

<!-- {# Assumes you setup tha password_reset view in your URLconf #}
<p><a href="{ url 'password_reset' %}">Lost password?</a></p> -->
<!-- <form method="post">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="username">Nombre de Usuario:</label>
                <input class="form-control" type="text" name="username">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="username">Contrasña:</label>
                <input class="form-control" type="password" name="password">
            </div>
        </div>
    </div>
 
</form>> -->