<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Nice&Cheap</title>

  <!-- Bootstrap core CSS -->
  {% load static %}<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  {% load static %}<link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{%url 'index' %}">Nice&Cheap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'about' %}">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'contact' %}">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'sidebar' %}">Tienda</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Nosotros
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{%url 'about' %}">Inicio</a>
      </li>
      <li class="breadcrumb-item active">Nosotros</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">

        <img class="img-fluid rounded mb-4" src="{% static 'img/ropa1.jpg' %}" alt="ropita">
      </div>
      <div class="col-lg-6">
        <h2>Acerca de Nice&Cheap</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Equipo</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Simon Valenzuela</h4>
            <h6 class="card-subtitle mb-2 text-muted">Director Ejecutivo</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">simon.valenzuelad@none.cl</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="http://placehold.it/750x450" alt="">
          <div class="card-body">
            <h4 class="card-title">Vicente Martínez</h4>
            <h6 class="card-subtitle mb-2 text-muted">Vicepresidente Ejecutivo</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">v.martinezh@none.cl</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'img/incognito-man.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Proximamente...</h4>
            <h6 class="card-subtitle mb-2 text-muted">Accionista Mayoritario</h6>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
          </div>
          <div class="card-footer">
            <a href="#">accionista@none.cl</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

  <!--                               Footer                          -->
  <!--                                                               -->
  <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Nice&Cheap 2019</p>
      </div>
      <!-- /.container -->
    </footer>

  <!-- Bootstrap core JavaScript -->
  {% load static %}<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  {% load static %}<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
